.profile {
   height:auto;
   width: 100vh;
   padding: 20px;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content:flex-start;
   font-family: inherit;
   border: 1px solid gray;
   height: 100vh;

}

.avatar {
     display: inherit;
     flex-direction:column;
     align-items: center;

}
.avatar button,
.custom_file_upload {
    height: 40px;
    width: 200px;
    color: black;
    font-size: 15px;
    text-align: center;
    padding: 5px;
    background-color: inherit;
    cursor: pointer;
    border: none;
    border-bottom: 1px solid gray;
}

.avatar input[type="file"] {
    display: none;
}
.avatar img{
    width: 300px;
    height: 300px;
}

.info_user {
    margin: 20px 0;
}